@{
    ViewData["Title"] = "Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary btn-lg" onclick="Novo()">Criar item de Plano de Contas</button>
<hr>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Tipo</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Teste</td>
            <td>D</td>
            <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
            <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
        </tr>
    </tbody>
</table>

<script>
    function Novo() {
        window.location.href = "../PlanoConta/Cadastro"
    }
</script>